{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ form.instance.pk|yesno:"Edit Course,Create Course" }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Course</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="form-errors">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
    </form>
</body>
</html>
