{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Course List</h1>
        <a href="{% url 'course_create' %}" class="create-link">Create New Course</a>
        <ul>
            {% for course in courses %}
                <li>
                    <a href="{% url 'course_detail' course.slug %}">{{ course.title }}</a>
                </li>
            {% empty %}
                <li>No courses available.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
